*{

box-sizing: border-box;

}

body{

margin: 0;


}

#main{

width: 25%;
height: 80vh;
margin: 170px 20px 0;
display: flex;
flex-direction: column;

}

h2{

height: 10%;

}

#main #input{

height: 90%;
display: flex;
flex-direction: column;
gap: 20px;


}

.check{

width: 5%;

}