*{

box-sizing: border-box;

}

body{

margin: 0;


}

#main{

width: 25%;
height: 80vh;
margin: 170px 20px 0;
display: flex;
flex-direction: column;

}

h2{

height: 10%;

}

#main #input{

height: 34%;
display: flex;
flex-direction: column;
gap: 20px;


}

.check{

width: 5%;

}

#text-input{

width: 60%;

}

#password{

width: 38%;
background-color: violet;
padding: 12px 0;
border: none;
border-radius: 8px;
font-size: 16px;
cursor: pointer;
transition: background-color 1.2s ease;


}

#password:hover{


background-color: hsl(300, 76%, 52%);


}